

.summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
.summary-ans{
    padding-inline: 20px;

}

.expand-icon{
    font-size:30px;

}